@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'museo_slab500';
    src: url('fonts/museo_slab_500-webfont-webfont.eot');
    src: url('fonts/museo_slab_500-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_500-webfont-webfont.woff') format('woff'),
         url('fonts/museo_slab_500-webfont-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_500-webfont-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novabold';
    src: url('fonts/proxima_nova_bold-webfont.eot');
    src: url('fonts/proxima_nova_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proxima_nova_bold-webfont.woff') format('woff'),
         url('fonts/proxima_nova_bold-webfont.ttf') format('truetype'),
         url('fonts/proxima_nova_bold-webfont.svg#proxima_novabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('fonts/proximanova-reg-webfont-webfont.eot');
    src: url('fonts/proximanova-reg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont-webfont.woff') format('woff'),
         url('fonts/proximanova-reg-webfont-webfont.ttf') format('truetype'),
         url('fonts/proximanova-reg-webfont-webfont.svg#proxima_novaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media 
	only screen and (max-width: 1010px),
	(min-device-width: 846px) and (max-device-width: 1024px)  {
		td.label.quesnum {display:none !important;}
		form#form > div > table > tbody > tr > td { width:720px !important;}
		form#form > div > table > tbody > tr > td > div { width:720px !important; }
		td.label {width:720px !important; margin:0!important; padding:0!important; float:none!important; }
		table#form_table{max-width:720px !important;}
		tbody.formtbody{max-width:720px !important; }
		table.form_border { width:720px !important; }
		tr{max-width:720px !important; width:720px !important;}
		tr#education_grade-tr {width:720px !important;}
		.x-form-text{max-width:720px !important;  }
		.x-form-field{max-width:720px !important; }
		select {max-width:720px!important;}
		}
		
		/* iPads */
@media only screen and (min-device-width: 650px) and (max-device-width: 846px) {
		td.label.quesnum {display:none !important;}
		form#form > div > table > tbody > tr > td { width:500px !important; }
		form#form > div > table > tbody > tr > td > div { width:500px !important; }
		td.label {width:500px !important; margin:0!important; padding:0!important; float:none!important; }
		table#form_table{max-width:500px !important;}
		tbody.formtbody{max-width:500px !important;}
		table.form_border { width:500px !important; }
		tr{max-width:500px !important; width:500px !important; }
		tr#education_grade-tr {width:500px !important;}
		.x-form-text{max-width:500px !important; }
		.x-form-field{max-width:500px !important;}
		select {max-width:500px!important;}
	}
	
	/* Smartphones */
	 @media only screen
	and (min-device-width : 300px)
	and (max-device-width : 480px) {
		body { 
			padding: 0; 
			margin: 0 -10px 0 0; 
			width: 300px; }
		form#form > div > table > tbody > tr > td { width:300px !important; }
		form#form > div > table > tbody > tr > td > div { width:300px !important; }
		div#outer{max-width:280px !important; width:280px !important;}
		td.label.quesnum {display:none !important;}
		td.label {width:300px !important; margin:0 -25px 0 0!important; padding:0!important; float:none!important;}
		table#form_table{max-width:300px;}
		tbody.formtbody{max-width:300px;}
		table.form_border { width:300px !important; }
		tr{max-width:300px !important; width:300px !important;}
		tr#education_grade-tr {width:300px !important;}
		.x-form-text{max-width:300px !important; }
		.x-form-field{max-width:300px !important; }
		select {max-width:300px!important;}
		td#changeFont {display:none;}
		.popover{max-width:200px !important;}

		} 	

@media only screen and (max-width: 1010px) {
body form#form > div { width: auto !important; }
body table, body #form_table { width: 100% !important; overflow: hidden; }
body form#form tbody { width: 100% !important; }
body form#form td+.label { max-width: auto !important; padding: 10px 0 !important; }
body form#form tr, body form#form td.label { width: 95% !important; padding: 10px 0; }
form#form > div > table > tbody > tr > td { float: left !important; width: auto !important; }
body .space { width: auto !important; }
body select, body button { max-width: auto; }
form#form td+td.label * { width: auto !important; max-width: 100% !important; }
	form#form td+td.label select { width: 80% !important; }
body .frmrd0 { border: none !important; }
body .jqbutton, body .jqbutton span { width: 100% !important; max-width: 100% !important; padding: 0 !important; }
body a.cclink { clear:both !important; float:left !important; height:20px !important; overflow:visible !important; padding:9px 15px!important; }
.tt{clear:both !important; float:none !important; margin-left:9px !important; }
.jqbutton{ background:url(../images/submit2.jpg) top center no-repeat !important; margin-left:0;!important; padding-left:0!important;;}
td#changeFont {display:none;}
#container{padding: 5px 5px 0 15px !important;}
.checkbox, .radio {padding: 0 30px 0 0 !important;}

}


body {
	background: #E2E1E3 url("../images/header.jpg") top center no-repeat;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0; 
    padding: 100px 0 0 0;
    text-align: center;
	overflow: auto;
}
div#outer {
    margin: 0 auto;
    padding: 30px 20px 10px;
    text-align: left;
    width: 900px;
	max-width:90%;
	background: #fff /*url("../images/bg_gray.png") repeat-x left top*/;
	border: none;
	 -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
div#container{
	margin: 0 0 0 0;
    padding: 5px 15px 0px 15px;
    text-align: left;
	max-width:100%;
}
#footer {
    color: #888;
    font-family: Arial, Helvetica, Century Gothic, sans-serif; 
    font-size: 11px; 
    text-align:center;
    margin: 0;
    padding:15px 0 5px;
} 
#footer a {
    color: #9f9f9f;
    font-family: Arial, Helvetica, Century Gothic, sans-serif; 
    font-size: 11px; 
    font-weight: bold; 
}
#footer a:link {
    color: #9f9f9f; 
    text-decoration: none;
}
#footer a:visited {
    color: #9f9f9f; 
    text-decoration: none;
}
#footer a:hover {
    color: #9f9f9f; 
    text-decoration: underline;
}
#header {
    margin-left: 50px;
    margin-right: 37px;
    position: relative;
    text-align: left;
    width: 791px;
    z-index: 1;
}
#pagecontent {
    margin-top: -14px;
    margin-bottom: 0px;
	max-width:100%;
}
#pagecontent table{
	clear: both;
}

table, #form_table{
	clear: both;
	max-width: 100%;
	width:840px !important;
}

/*tbody, tbody.formtbody {max-width:100% !important; width:900px;}*/

div.surveytitle { max-width:800px;font-family: "proxima_novabold", Arial, Helvetica, sans-serif;font-size: 38px;font-weight: normal;margin:10px 0;text-align:left; color:#424242;}

td.header {
	background:url("../images/instruction_bg.png") repeat-x scroll 0 0 #BCCFE8;
	color:#000000;
	font-size:13px;
	font-weight:bold;
	padding:8px;
}
td.data, td.label, td.label_matrix, td.data_matrix {
	padding:15px 10px; 
	border-bottom:1px solid #E2E1E3;
	vertical-align:top;
	font-weight: bold;
}
td.data { width: 310px; }
td.label { width:840px; max-width:100%; }
td.label.quesnum { width:30px; }
.label a:link, .label a:visited, .label a:active, .label a:hover { font-family: Arial; }
td.label_matrix { 
	padding-top: 8px;
	padding-bottom: 8px;
}
td.data_matrix { 
	vertical-align:middle;
}

table.form_border { border:none; width:870px !important; }
.viewEq { display: none; }
.calcDisc { display: none; }
.submitBtn { background: red; }

a:link, a:visited, a:active, a:hover{ font-family: Arial; font-size: 12px; color: #000066; text-decoration: none; text-align:left; }
a:hover{ color: red; }
p { line-height: 1.5em; }
.hang a:link, .hang a:visited, .hang a:active, .hang a:hover{ text-decoration: none; }
.hang2 a:link, .hang2 a:visited, .hang2 a:active, .hang2 a:hover{ text-decoration: none; }
.x-panel-header { text-align: left; }
.sendit-lnk { display: none; }
.hide { display: none; }

/* Bubble pop-up on survey page */
.popup {
	position: absolute;
	display: none;
	z-index: 50;
	border-collapse: collapse;
}
.popup table.popup-contents {
	font-size: 12px;
	line-height: 1.4em;
	background-color: #fff;
	color: #666;
	border: 1px solid #888;
}
div#return_corner{
	text-align:right;
	position:relative;
	top:0px;
	left:15px;
	padding:6px 7px 7px 0px;
	border-left:1px solid #bbb;
	border-bottom:1px solid #bbb;
}
#stopActionPrompt, #stopActionReturn { display: none; text-align: left; font-size: 13px; margin: 10px 0; }
#surveypagenum { color:#66ccff;font-weight:bold;text-align:right;margin:0 0 5px }
#surveyinstr { padding:0 0 25px; }
#surveyinstr div, #surveyinstr p { margin:0; font-family:"proxima_novaregular", Arial, Helvetica, sans-serif; color:#424242; font-size:18px; line-height:26px; }
td.quesnum { padding-right:3px;padding-left:7px; }
td.quesnummtxchk { padding-right:3px;padding-left:7px;padding-top:4px; }